@import '~normalize.css/normalize.css';
@import 'styles/mixins';

.layout-wrapper {
  min-height: 100vh;

  .layout-content {
    margin: 16px;
  }
}

.notfound-wrapper {
  height: 100vh;
  background-color: #ececec;
  overflow: hidden;
  @include flex-center();
}